*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 133px 30px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  min-height: 534px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.result__video-container {
  max-width: 711px;
  max-height: 386px;
  margin-block-end: 16px;
}

.result__video {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  font-family: inherit;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  border: none;
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
}

.search-form__fieldset-title {
  color: #fff;
  font-size: inherit;
}

.search-form__label {
  display: inline-flex;
  justify-self: start;
  align-items: center;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 225px;
  height: 27px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding-inline: 0;
  color: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  font-weight: 400;
  font-size: inherit;
  background-color: transparent;
}

.search-form__textfield:hover {
}

.search-form__textfield:active {
  outline: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  border: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  
}

.search-form__pseudo-checkbox {
  position: relative;
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid #fff;
  vertical-align: middle;
  background-color: transparent;
}

.search-form__pseudo-checkbox::before {
  content: "";
  position: absolute;
  inset: 1px;
  opacity: 0; 
  background-color: #fff; 
  transition: opacity 0.2s ease; 
  inline-size: 15px;
  block-size: 15px; 
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox::before {
  opacity: 1;
}

.search-form__pseudo-checkbox:active::before {
  opacity: 1;
}

.search-form__label-text:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.button {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 194px;
  height: 34px;
  padding: 0px;
  color: #fff;
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  background-color: transparent;
}

.search-form__submit-button {
  align-self: flex-end;
}

.search-form__submit-button:focus {
  outline: none;
}

.search-form__submit-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button:active {
  background-color: #545050;
} 

.search-form__submit-button-text:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
}

.title {
  display: block;
  color: #fff;
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  height: 298px;
  overflow-y: scroll;
}
.more-button {
  width: 394px;
}

.content__card-link {
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.content__video-card {
  display: flex;
}

.content__video-card-description-container {
  width: 200px;
}

.content__video-card-description-container:active {
  background-color: #545050;
}

.content__video-card-description-container:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
}

.content__video-card-title {
  margin-block-end: 8px;
  color: #fff;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}

.content__video-card-description {
  color: #fff;
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 16.2px; /* 90% */
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}